.player{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: orange;
    width: 250px;
    

    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius:100%;
        position: absolute;
        right:145px;
    }
    p{
        font-size: 32px;
        margin-left:65px;
    }
}