<div class="field">

    <div class="cardstack">
        

        <img  *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px':i*5}" src="/assets/img/playing_cards/card_cover.png" alt="">
        <img  (click)="takeCard()" [class.pickCard]="pickCardAnimation" class="topcard" style="right: 25px"  src="/assets/img/playing_cards/card_cover.png" alt="">
        <img  (click)="takeCard()" *ngIf="pickCardAnimation"  class="pickCard" style="right: 25px"  src="/assets/img/playing_cards/{{ currentCard }}.png" alt="">
    </div>
</div>
